* {
    margin: 0px;
    padding: 0px;
	box-sizing:border-box;
}

  body {
  	font-family: "Lato", sans-serif;
}

a{
	text-decoration: none;
	color: #000;
}

.header {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('../img/header.jpg') no-repeat fixed bottom;
	background-size: cover;
	background-position: top;
	width: 100%;
	height: 90vh;
	position: relative;
}

.nav{
	padding: 20px 30px;

}

.logo {
	margin-top: 15px;
	margin-left: 5px;
	width: 100px;
	height: 15px;
	float: left;

}


.links{
	float: right;
	list-style: none;
	padding-left:20px;
	padding-right:20px;
	letter-spacing: 2px;
	word-spacing: 35px;
	margin-right: 40px;
	margin-top: 5px;
}


.links li{
	display: inline-block;
	text-align:center;
}

.nav li a {
	color:#fff;
	letter-spacing: 4px;
	font-size: 12px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600; 
  }

.row {
	display: flex;
	flex-wrap: wrap;
}

.contact {
	width: 90%;
	padding: 20px;
	margin: 6px auto 20px auto;
	position: relative;
}

.c-l {
	width: 45%;
	margin-top: 200px;	
}

.c-r {
	width: 30%;
	position: absolute;
	right: 1%;

}

.c-form {
	background-color: #fff;
	padding: 30px 40px 10px 40px;
	border-radius: 2px;
	box-sizing: border-box;
	position: relative;
}

.c-form h3 {
	margin-bottom: 10px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 25px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #1A1A1A;
	text-transform: uppercase;
}

.line1 {
	position: absolute;
	height: 2px;
	background: #ffb900;
	width: 70px;
	left: 48%;
	transform: translateX(-48%);
}

 .c-form form div > label {
	padding: 15px 10px 10px 0;
	width: 100%;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: 4px;
	color: #1A1A1A;
	text-transform: uppercase;
} 

.c-form form div > input, form div > textarea, form div > select {
	width: 100%;
	padding-left: 10px;
	outline: none;
}

.c-form form div > input, form div > select  {
	height: 40px;
}

.c-form form div > select {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
	color: grey;
}

.c-form form div > textarea {
	padding-top: 10px;
	box-sizing: border-box;
}

.c-form form > button  {
	width: 100%;
	height: 40px;
	margin: 20px auto 20px auto;
	display: block;
	background-color: #ffb900;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 1px;
	text-transform: uppercase;

}

::placeholder {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
}

:focus {
	border: 1px solid #ffb900;
}

.c-l p {
	font-family: 'Raleway' sans-serif;
 	font-weight: 400;
	font-size: 28px;
	color: #fff;
	letter-spacing: 5%;
	word-spacing: 2%;
	line-height: 1.5;
	text-align: justify;
	margin-bottom: 20px;	
}

.l-button {
	text-align: left;
	margin-top: 35px;
	color: #fff;
}

.l-button h4 {
	border: 2px solid #fff;
	display: inline-block;
	padding: 10px 20px;
	border-radius: 1px;
	text-transform: uppercase;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 20px;
	letter-spacing: 2px;
	word-spacing: 4px;
}

.l-button a{
	color: #fff;
}

.qn {
	width: 90%;
	margin: 50px auto 20px auto;
	background-color: #fff;
	padding: 30px 40px 10px 40px;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0px 0px 20px 4px rgba(0,0,0,0.09);
	position: relative;
}

.qn h3 {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 27px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #1A1A1A;
	text-transform: uppercase;
}

.line2 {
	position: absolute;
	height: 2px;
	background: #ffb900;
	width: 200px;
	left: 48%;
	transform: translateX(-48%);

}

.qn form div > label {
	padding: 15px 10px 10px 0;
	width: 100%;
	display: block;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #000;
	text-transform: uppercase;
} 

.qn form input[type=text],
 input[type=email],
 input[type=tel],
 input[type=date],
 textarea {
 	width: 100%;
 	padding-left: 10px;
 	outline: none;
 	height: 40px;
		 }

.qn form textarea {
	height: 120px;
}

.qn input[type=checkbox] {
	padding-left: 10px;
	margin: 7px;
	outline: none;
	vertical-align: middle;
}

.c-box p {
	display: inline-block;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 1px;
	word-spacing: 2px;
	color: #1A1A1A;
	text-transform: uppercase;
	vertical-align: middle;
}

.f-l {
	width: 40%;
	margin-top: 40px;
	margin-right: 80px;
	margin-left: 60px;
}

.f-r {
	width: 40%;
	margin-top: 40px;
	margin-left: 50px;

}

.qn form > button  {
	width: 24%;
	height: 40px;
	margin: 40px auto 20px auto;
	display: block;
	background-color: #ffb900;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}


.footer {
	margin: 40px 0 0 0;
	background-color: #161c23;
	padding: 30px 10px 10px 20px;

}

.f-ele {
	width:23%;
	//border: 1px solid #fff;
    text-align: left;
    padding: 0 50px 0 10px;
}

.ele-1 {
	width: 28%;
	margin-top: -5px;
}

.ele-1 p {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1px;
	color: #5C5C5C;
}

.ele-2 {
	padding: 0 50px 0 100px;
}

.ele-3,
.ele-4 {
	padding: 0 40px 0 80px;
}

.f-ele ul {
	list-style: none;
}

.f-ele li {
	margin-bottom: 5px;
}

.f-ele h4 {
    font-family: "Montserrat", sans-serif;
	font-weight: 700;
	font-size: 30px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffb900;
	margin-bottom: 3px;	
}

.f-ele pre {
    font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 1.5px;
	color: #737e85;
	margin-bottom: 15px;
	text-transform: uppercase;	
}

.f-ele h5 {
    font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #ffb900;
	margin-bottom: 15px; 
}

.f-ele a {
    font-family: "Raleway", sans-serif;
	font-weight: 400;
	font-size: 13.5px;
	letter-spacing: 1px;
	color: #737e85;
}

.f-ele i {
	color: #737e85;
}


.ele-3 p {
	margin-bottom: 10px;
}

.ele-3 i {
	font-size: 18px;
	margin-right: 15px;
}

.ele-4 i {
	font-size: 35px;
	margin-right: 15px;
}

.subscribe  {
	/*display: flex;
	justify-content: center;
	align-content: center;*/
	margin: 30px 0;
}

.subscribe input {
	width: 60%;
	outline: none;
	height: 37px;
	padding-left: 10px;
	margin-right: 7px;
	background-color: rgba(255,255,255,0.1);
	border: 0;

} 

.subscribe button {
	width: 30%;
	height: 37px;
	display: inline-block;
	background-color: #ffb900;
	border: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase;
	background-color: rgba(255,185,0,0.7);
}

::placeholder {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing: 0.2px;
	word-spacing: 0.5px;
	text-transform: uppercase;
}

:focus {
	border: 1px solid #ffb900;
}



