@media screen and (max-width: 1440px) {

	.header {
		height: 90vh;
	}

	.links {
		width: 45%;
	}


@media screen and (max-width: 1024px) {

	.links {
        padding: 0;
        margin-top: 10px;
        width: 52%;
    }

    .nav li a {
        color:#fff;
        letter-spacing: 4px;
        font-size: 10px; 
    }

    .c_button {
        width: 27%;
    }

    .title {
        font-size: 17px;
    }

    .profile {
    	width: 85%;
    	padding: 40px 30px;
    }

    .p-ele {
    	width: 18%;
    	margin: 0 25px;
    }

    .p-ele img {
    	height: 170px;
    	width: 170px;
    }

    .desp {
    	padding: 40px 60px;
    }

    .d-l {
    	width: 30%;
    	margin: 0  120px 0 0;
    	padding: 0;
	}

	.d-r {
		width: 55%;
		margin: 0;
		padding: 0;
	}

    .d-l h2 {
    	font-size: 25px;
    }

    .d-l h3 {
    	font-size: 25px;
    }

    .d-l img {
    	height: 300px;
    	width: 300px;
    }

    .line1 {
    	width: 3px;
    	left: 40%;
    	transform: translateX(-40%);
    }

    .line2 {
    	height: 3px;
    }

    .footer {
        margin: 40px 0 0 0;
        padding: 30px 10px 10px 20px;

    }

    .f-ele {
        width:23%;
        padding: 0 40px 0 5px;
    }

    .ele-1 {
        width: 28%;
        margin-top: -5px;
    }

    .ele-1 p {
        font-size: 13px;
        letter-spacing: 0px;
    }

    .ele-2 {
        padding: 0 30px 0 60px;
    }

    .ele-3,
    .ele-4 {
        width: 24%;
        padding: 0 10px 0 20px;
    }


    .f-ele h4 {
        font-size: 28px;
    }

    .f-ele pre {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .f-ele h5 {
        font-size: 15px;
    }

    .f-ele a {
        font-size: 12px;
        letter-spacing: 0.5px;
    }

    .ele-3 p {
        margin-bottom: 7px;
    }

    .ele-3 i {
        font-size: 16px;
        margin-right: 15px;
    }

    .ele-4 i {
        font-size: 30px;
        margin-right: 15px;
    }

    .subscribe  {
        margin: 30px 0 20px 0;
    }

    .subscribe input {
        height: 32px;
        padding-left: 8px;

    } 

    .subscribe button {
        height: 32px;
        font-size: 9px;
    }

    ::placeholder {
        font-size: 10px;
    }    
}
	

@media screen and (max-width: 768px) {

	.header {
        height: 80vh;
    }
    
    .links {
        padding: 0;
        margin-top: 10px;
        width: 65%;
    }

    .nav li a {
        font-size: 10px; 
        letter-spacing: 2px;
    }

    .c_button {
        width: 27%;
    }

    .profile {
    	width: 90%;
    	margin-top: -100px;
    	padding: 50px 20px 50px 20px;
    }

    .p-ele {
    	width: 50%;
    	margin: 20px auto;
    }

    .p-ele img {
    	height: 250px;
    	width: 250px;
    }

    .desp {
    	padding: 30px 50px;
    }

    .d-l {
    	width: 100%;
    	margin: 0;
    }

    .d-r {
    	width: 100%;
    	margin: 0;
    }

    .d-l h2 {
    	display: none;
    }

    .line1 {
    	display: none;
    }

    .line2 {
    	display: none;
    }

    .d-l img {
    	display: none;
    }

    .d-l h3 {
    	font-size: 20px;
    	text-align: center;
    }

    .d-r h2 {
    	text-align: center;
    }

    .logo_wm1 img {
    	transform: scale(1);
    }

    .footer {
        margin: 40px 0 0 0;
        padding: 30px 10px 15px 20px;

    }

    .f-ele {
        width: 24%;
        text-align: left;
        padding: 0 40px 0 5px;
    }

    .ele-1 {    
        margin-top: -5px;
    }

    .ele-1 p {
        font-size: 12px;
    }

    .ele-2 {
        padding: 0 30px 0 50px;
    }

    .ele-3 {
        width: 26%;
    }

    .ele-3,
    .ele-4 {
        padding: 0 10px 0 10px;
    }

    .f-ele li {
       margin-bottom: 2px;
    }

    .f-ele h4 {
        font-size: 23px;
    }

    .f-ele pre {
        font-size: 12px;
        letter-spacing: 1px;
    }

    .f-ele h5 {
        font-size: 14px;
        letter-spacing: 1.2px;
        margin-bottom: 13px; 
    }

    .f-ele a {
        font-size: 11px;
    }

    .ele-3 p {
        margin-bottom: 5px;
    }

    .ele-3 i {
        font-size: 15px;
        margin-right: 12px;
    }

    .ele-4 i {
        font-size: 25px;
        margin-right: 13px;
    }

    .subscribe  {
        margin: 20px 0;
    }

    .subscribe input {
        width: 100%;
        height: 30px;
        padding: 0 2px 0 6px;
    } 

    .subscribe button {
        width: 100%;
        height: 30px;
        font-size: 10px;
    }

}


@media screen and (max-width: 425px) {

	.header {
        height: 75vh;
    }

    .links {
        display: none;
    }

    .title {
        font-size: 15px;
        padding: 0 10px;
    }

    .profile {
    	width: 90%;
    	margin-top: -100px;
    	padding: 50px 20px 50px 20px;
    }

    .p-ele {
    	width: 100%;
    	margin: 20px auto;
    }

    .p-ele img {
    	height: 250px;
    	width: 250px;
    }

    .desp {
    	padding: 30px 40px;
    }

    .d-l {
    	width: 100%;
    	margin: 0;
    }

    .d-r {
    	width: 100%;
    	margin: 0;
    }

    .d-l h2 {
    	display: none;
    }

    .line1 {
    	display: none;
    }

    .line2 {
    	display: none;
    }

    .d-l img {
    	display: none;
    }

    .d-l h3 {
    	font-size: 20px;
    }

    .logo_wm1 img {
    	transform: scale(1);
    }

    .f-ele {
        width: 100%;
        text-align: center;
        padding: 0;
        margin-bottom: 20px;
    }

    .f-ele li {
        display: inline-block;
    }

    .f-ele h4 {
    	font-size: 30px;
    }

    .f-ele h5 {
    	font-size: 15px;
    }

    .f-ele a {
    	font-size: 13.5px;
    }

    .ele-3 i {
    	font-size: 18px;
    }

    .ele-3 div {
        width: 50%;
        margin: 0 auto;
        text-align: left;
    }

    .subscribe {
        width: 70%;
        margin: 0 auto;
        display: flex;
    }

    .ele-1 p {
        display: none;
    }

    .subscribe input {
        margin-right: 5px;
    }

    .subscribe button {
        margin: 0;
    }
}